<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597244459726-mc9d06hlkpm1io6g82ijvurlhid0taqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597244459726-mc9d06hlkpm1io6g82ijvurlhid0taqe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>597244459726-sdv76toumg3cvq4sj06nprsc50cuqp6u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA60b-ytwuLD9-0dywbVCbLs3okRaxlb4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>597244459726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cmanagerapp</string>
	<key>PROJECT_ID</key>
	<string>cmanager-e2055</string>
	<key>STORAGE_BUCKET</key>
	<string>cmanager-e2055.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597244459726:ios:8d7ab582b7af752136ee9f</string>
</dict>
</plist>